azure-functions==1.24.0
azure-core==1.41.0
azure-identity==1.25.3
azure-storage-blob==12.29.0
azure-storage-queue==12.14.1

openai==2.37.0

opencv-python==4.13.0.92
numpy==2.4.5

requests==2.34.2
urllib3==2.7.0

tiktoken==0.13.0

Werkzeug==3.1.8